<h1>Welcom to My Page</h1>
<body>
<p>
    I just learned Django which is pretty much cool. I can have a web server
    up and running in a matter of just a few minutes. The views.py has all
    functions defined there which are called later on by urls.py, a file
    defines the routing between urls and functions.
</p>
<p>I am happy to present you a cool application that can count words in your
    text. Want to give a try? Please click the link below:</p>
<a href = "{% url 'home' %}">Count Words</a>
<p>
    Also later we will study on the models part, which is very critical for
    persisting data.
</p>

</body>
